*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Styling header and navigation bar */
header{
    margin-top: 5%;
    background-image: url("./images/img1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}
img{
    object-fit:cover;
    width: 100%;
}
nav{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 5;
    box-sizing: border-box;
    padding: 1% 18.5%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px -10px 50px rgb(142, 139, 139);
}
.div-1{
    display: flex;
    flex-direction: row;
    gap: 5%;
}
.div-1b{
    margin-top: 1.5%;
    font-size: 20px;
    color: rgb(227, 227, 227);
}
.div-1c{
    margin-top: -0.5%;
    margin-left: -0.5%;
}
.div-1d{
    width: 9.5%;
    margin-left: -4%;
    margin-top: -0.5%;
    margin-bottom: 0.3%;
}
.div-1d-btn{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    border: 1px solid white;
    background-color: white;

    color: black;
    font-family: system-ui;
    font-size: 15px;

    border-radius: 10%;
    transition: background-color 0.7s ease;
    cursor: pointer;
}
.div-1d-btn:hover{
    background-color: rgb(229, 228, 228);
    border-radius: 10%;
}
.img3{
    width: 30%;
}
.div-1e{
    margin-top: 1.5%;
    margin-left: 40%;
    width: 7%;
}
.div-1e-btn{
    width: 100%;
    height: 33px;
    border: 1px solid white;
    border-radius: 7px;
    background-color: white;
    transition: background-color 0.7s ease;
    font-size: 16px;
    font-family: system-ui;
    padding: 5%;
    color: rgb(107, 104, 104);
    cursor:pointer;
}
.div-1e-btn:hover{
    background-color: rgb(229, 228, 228);
}
.div-1f{
    width: 7%;
    margin-top: 1.5%;
    margin-left: -3%;
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    color: rgb(107, 104, 104);
}
.user-icon{
    z-index: 1;
    font-size: 22px;
    position: absolute;
    top: 43%;
    right: 23%;
}
#select{
    border: 1px solid white;
    border-radius: 7px;
    height: 33px;
    width: 115px;
    padding-left: 30px;
    color: rgb(107, 104, 104);
    font-size: 14px;
    background-color: rgb(255, 255, 255);
    position: relative;
    cursor: pointer;
    transition: background-color 0.7s ease;
}
#select:hover{
    background-color: rgb(229, 228, 228);
}
.section1{
    width: 60%;
    margin: auto;
    margin-top: -0.5%;
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    gap: 40px;
    position: relative;
}
.sec1-txt{
    font-family: system-ui;
    font-size: 35px;
    color: white;
    font-weight: bolder;
}
.travel-details{
    width: 87%;
    z-index: 4;
    margin-left: 1%;
    height: 112px;
    border-radius: 35px;
    border: 0px;
    background-image: linear-gradient(to right,white,rgb(214, 78, 78));
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}
.travel-details:hover{
    box-shadow: 5px 0px 20px rgb(178, 84, 84);
}
.travel-details-child{
    width: 90%;
    margin: auto;
    z-index: 4;
    display: flex;
    flex-direction: row;
    height: 112px;
}
.from{
    width: 25%;
    border: 0px;
    border-right: 1px solid rgb(221, 221, 221);
    background-color: rgb(255, 244, 244);
    cursor: pointer;
    font-size: 16px;
    font-family: system-ui;
    box-sizing: border-box;
    padding-bottom: 5%;
    padding-left: 2%;
    position: relative;
}
.bus-from{
    z-index: 4;
    position: absolute;
    top: 75%;
    left: 9.5%;
    font-size: 20px;
    color: rgb(128, 125, 125);
}
.revert-btn{
    position: absolute;
    z-index: 3;
    top: 70%;
    left: 29.2%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 20px;
    color: rgb(128, 125, 125);
    font-size: 16px;
    font-weight: 100;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid rgb(241, 238, 238);
    transition: box-shadow 0.3s ease;
}
.revert-btn:hover{
    color: black;
    box-shadow: 0px 0px 10px gray;
}
.to{
    width: 30%;
    border: 0px;
    border-right: 1px solid rgb(221, 221, 221);
    cursor: pointer;
    font-size: 16px;
    font-family: system-ui;
    padding-bottom: 4.2%;
    padding-left: 7.5%;
    box-sizing: border-box;
    position: relative;
}
.bus-to{
    z-index: 3;
    position: absolute;
    top: 75%;
    left: 33.5%;
    font-size: 20px;
    color: rgb(128, 125, 125);
}
.date{
    width: 24%;
    border: 0px;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    padding-right: 18%;
    font-size: 24px;
    cursor: pointer;
}
.search-btn{
    width: 19%;
    border: 0px;
    color: white;
    background-color: rgb(218, 81, 81);
    cursor: pointer;
    display: flex;
    box-sizing: content-box;
    padding-top: 0.2%;
    padding-left: 3.8%;
    margin-right: -2.1%;
    font-size: 21px;
    font-family: sans-serif;
    font-weight: bolder;
    align-items: center;
    transition: background-color 0.3s ease;

}
/* Section2 */
.section2{
    display: flex;
    flex-direction: column;
    width: 63.25%;
    height: 33vh;
    margin: auto;
    margin-top: -4%;
    margin-right: 18%;
    box-sizing: border-box;
    border-radius: 32px;
    background-color: white;
    box-shadow: 0px 10px 10px rgb(212, 212, 212);
}
/* Child 1 */
.sec2div1{
    display: flex;
    margin: 3%;
    flex-direction: row;
    justify-content: space-between;
}
.sd1txt{
    font-family: Lucida Sans;
    color: rgb(69, 68, 68);
}
.sd1btn-div{
    width: 11%;
    height: 44px;
    margin-top: -0.5%;
    margin-right: -0.2%;
    background-color: white;
}
.sd1btn{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-color: white;
    border: 1px solid rgb(117, 117, 117);
    color: rgb(34, 34, 255);
    font-size: 18px;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.sd1btn:hover{
    box-shadow: 0px 2px 5px rgb(199, 199, 199);
}
/* Child 2 */
.sec2div2{
    width: 1157px;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: auto;
    box-sizing: border-box;
    padding-left: 1.6%;
    margin-top: -0.5%;
    margin-left: 1%;
    margin-right: 1%;
    gap: 25px;
    scrollbar-width: 10%;
}
.sd2div2child1{
    height: 168px;
    width: 300px;
    background-image: linear-gradient(to right,rgba(41, 41, 148, 0.948),rgba(0, 0, 255, 0.822));
    box-sizing: border-box;
    border-radius: 16px;
    display: flex;
}
.sd2div2child2{
    height: 168px;
    width: 300px;
    background-image: linear-gradient(to right,rgb(119, 1, 1),rgba(255, 0, 0, 0.756));
    box-sizing: border-box;
    border-radius: 16px;
    display: flex;
}
.sd2div2child3{
    height: 168px;
    width: 300px;
    background-image: linear-gradient(to right,rgba(19, 111, 19, 0.847),rgba(46, 191, 46, 0.847));
    box-sizing: border-box;
    border-radius: 16px;
    display: flex;
}
.sd2div2child4{
    height: 168px;
    width: 300px;
    background-image: linear-gradient(to right,rgba(0, 139, 139, 0.797),rgba(173, 216, 230, 0.792));
    box-sizing: border-box;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
}
.btn123{
    margin-top: 1%;
    margin-bottom: -2%;
    width: 42px;
    height: 23px;
    border: 0px;
    color: white;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.167);
    border-radius: 10px;
}
.div123{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    color: white;
    font-family: Gill Sans;
    margin-left: 20px;
    margin-right: 20px;
    box-sizing: content-box;
}
.btn1234{
    border: 1px dashed white;
    background-color: rgba(255, 255, 255, 0.249);
    padding: 1.5% 4%;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    font-weight: bolder;
    font-family: system-ui;
    margin-right: 6%;
}
.section3{
    display: flex;
    flex-direction: column;
    width: 65%;
    height: vh;
    margin: auto;
    margin-top: 2%;
    box-sizing: border-box;
    border-radius: 32px;
    background-color: white;
}
.s3d1{
    margin: 2%;
    margin-top: 1%;
    
}
.s3d1txt{
    font-size: 21px;
}
.s3d1btn{
    margin-top: 0.4%;
    margin-right: -1.5%;
    width: 125px;
}
.s3d2{
    margin-top: 2%;
}
.s3d2chs{
    height: 235px;
    width: 500px;
}
.s3d2ch1{
    background-image: url(./images/img8.png);
}
.s3d2ch2{

}
.s3d2ch3{

}
.s3d2ch4{

}